


{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card mt-5">
                <div class="card-body">
                    <div class="text-center">
                        <img src="{{ pet.photo.url }}" alt="{{ pet.name }}" class="profile-img">
                    </div>
                    <h5 class="card-title text-center mt-3">{{ pet.name }}</h5>
                    <p class="card-text"><strong>Tutor:</strong> {{ pet.owner }}</p>
                    <p class="card-text"><strong>Telefono:</strong> {{ pet.owner.userprofile.phone }}</p>
                    <p class="card-text"><strong>Direccion:</strong> {{ pet.address }}</p>
                    <p class="card-text"><strong>Fecha de Nacimiento:</strong> {{ pet.birth_date }}</p>
                    <p class="card-text"><strong>Raza:</strong> {{ pet.breed }}</p>
                    <p class="card-text"><strong>Color:</strong> {{ pet.color }}</p>
                    <p class="card-text"><strong>Descripcion:</strong> {{ pet.description }}</p>
                    <p class="card-text"><strong>Registros medicos:</strong> {{ pet.med_records }}</p>
                    <p class="card-text"><strong>QR:</strong> <img src="{{ pet.qr_code.url }}" class="qr-code" alt="QR Code"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="overlay" id="overlay">
    <img id="overlay-img" src="" alt="{{ pet.name }}">
</div>


<script>
document.querySelector('.profile-img').addEventListener('click', function() {
    document.getElementById('overlay-img').src = this.src;
    document.getElementById('overlay').style.display = 'flex';
});

document.querySelector('.qr-code').addEventListener('click', function() {
    document.getElementById('overlay-img').src = this.src;
    document.getElementById('overlay').style.display = 'flex';
});

document.getElementById('overlay').addEventListener('click', function(event) {
    if (event.target === this || event.target === document.querySelector('#overlay img')) {
        this.style.display = 'none';
    }
});
</script>

{% endblock %}
