body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

footer {
    margin-top: 2rem;
}

.card {
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.qr-code {
    max-width: 150px;
    max-height: 150px;
}

.overlay,
.overlay-qr {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
}

.overlay img,
.overlay-qr img {
    max-width: 90%;
    max-height: 90%;
}